---
import Layout from "../../layouts/Layout.astro"
import { app, db } from "../../firebase/server"
import { getAuth } from "firebase-admin/auth"
import SongCard from "../../components/SongCard"
import { navigate } from "astro:transitions/client"

const auth = getAuth(app)
const sessionCookie = Astro.cookies.get("session")

if(!sessionCookie){
	return Astro.redirect("/login")
}

let user = {}, decodedCookie
try{
    decodedCookie = await auth.verifySessionCookie(sessionCookie.value)

	user = await auth.getUser(decodedCookie.uid)
} catch(error){
    Astro.cookies.delete("session")
	return Astro.redirect("/login")
}

if(!user){
	return Astro.redirect("/login")
}

const {id} = Astro.params

const {username, likes: userLikes} = (await db.collection("users").doc(id).get()).data()

let userLikedSongs = []
if(userLikes.length > 0){
    userLikedSongs = (await db.collection("songs").where("__name__", "in", userLikes).get()).docs.map(song => ({
        id: song.id, 
        ...song.data()
    }))
}
const addedSongs = (await db.collection("songs").where("userUid", "==", id).get()).docs.map(song => ({
    id: song.id, 
    ...song.data()
}))

let loggedInUserLikedSongs = (await db.collection("users").doc(user.uid).get()).data().likes
---

<Layout title="Astro Basics">
    <main>
        <h1>
            <span>{decodedCookie.uid === id  ? "Your" : `${username}'s`} Profile</span>
            {decodedCookie.uid === id && <button class="delete-profile">Delete Profile</button>}
        </h1>

        <div class="songs-container liked">
            {userLikedSongs.length > 0 ? 
                <>
                    <h2>❤ Liked Songs:</h2>

                    <div class="songs">
                        {userLikedSongs.map(song => (
                            <SongCard 
                                client:only="react" 
                                loggedInUserId={user.uid} 
                                userId={song.userUid} 
                                spotifyId={song.id} 
                                sessionCookie={sessionCookie.value} 
                                alreadyLiked={loggedInUserLikedSongs.includes(song.id)} 
                                forceRefresh={true}
                                likesCount={song.likes}
                                createdAt={song.createdAt}
                            />
                        ))}
                    </div>
                </>
            :
                <h2>💔 No liked songs</h2>
            }
        </div>

        
        <div class="songs-container added">
            {addedSongs.length > 0 ?
                <>
                    <h2>🎧 Added Songs:</h2>

                    <div class="songs">
                        {addedSongs.map(song => (
                            <SongCard 
                                client:only="react" 
                                loggedInUserId={null} 
                                userId={null} 
                                spotifyId={song.id} 
                                sessionCookie={sessionCookie.value} 
                                alreadyLiked={loggedInUserLikedSongs.includes(song.id)} 
                                forceRefresh={true}
                                likesCount={song.likes}
                                createdAt={song.createdAt}
                            />
                        ))}
                    </div>
                </>
            :
                <h2>🔇 No added songs</h2>
            }
        </div>
    </main>
</Layout>

<style>
    h1{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    h1 span{
        flex-grow: 1;
    }
    .delete-profile{
        background: #710000;
        border-radius: 0.5rem;
        padding: 0.5rem;
        color: white;
        font-size: 1.5rem;
        border: 2px solid transparent;
        transition: 0.5s ease-out;
    }
    .delete-profile:hover{
        background: #5a0000;
        border-color: #3f0000;
    }
    .songs-container{
        margin: 2rem 0;
        border: 1px solid #cacaca;
    }
    h2{
        border-radius: 1rem;
        padding: 0.25rem 0.5rem;
    }
    .liked h2{
        background: rgba(255, 204, 110, 0.25);
    }
    .added h2{
        background: rgba(41, 214, 101, 0.25);
    }
</style>

<script define:vars={{ sessionCookie, decodedCookie, id }}>
    if(decodedCookie.uid === id){
        const deleteProfile = async() =>{
            const res = await fetch(`/api/users/${id}`, {
                method: "DELETE",
                headers: {
                    "Authorization": `Bearer ${sessionCookie.value}`
                }
            })

            const json = await res.json()

            if(res.ok){
                navigate("/login")
                document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
            } else{
                console.error(json.error)
            }
        }

        document.querySelector(".delete-profile").addEventListener("click", async(e) =>{
            if(confirm("Are you sure you would like to delete your profile (this action is permanent!)")){
                deleteProfile()
            }
        })
    }
</script>